name: Coverage

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  unit_test:
    name: Integration test with coverage (linux)

    strategy:
      matrix:
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: "1"
          check-latest: true

      - name: Install Tor
        run: |
          sudo apt-get update
          sudo apt-get install -y tor

      - name: Run integration tests with coverage
        run: make integration-test
        env:
          TORNAGO_INTEGRATION: "1"

      - name: Copy coverage file for octocov
        run: cp coverage-integration.out coverage.out

      - uses: k1LoW/octocov-action@v1
