name: DragonFly BSD Test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: DragonFly BSD unit test
    steps:
      - uses: actions/checkout@v6

      # Note: -race is not supported on dragonfly/amd64
      - name: Test on DragonFly BSD
        uses: vmactions/dragonflybsd-vm@v1
        with:
          usesh: true
          release: "6.4.0"
          mem: 8192
          copyback: false
          prepare: |
            pkg install -y go tor gmake git
          run: |
            git config --global --add safe.directory /home/runner/work/tornago/tornago
            go version
            tor --version
            go mod download
            gmake integration-test
        env:
          TORNAGO_INTEGRATION: "1"
