name: FreeBSD Test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: FreeBSD unit test
    steps:
      - uses: actions/checkout@v6

      - name: Test on FreeBSD
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          release: "14.1"
          mem: 8192
          copyback: false
          prepare: |
            pkg install -y go tor gmake git
          run: |
            git config --global --add safe.directory /home/runner/work/tornago/tornago
            go version
            tor --version
            go mod download
            gmake integration-test
        env:
          TORNAGO_INTEGRATION: "1"
