name: OpenBSD Test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    name: OpenBSD unit test
    strategy:
      matrix:
        os:
          - name: openbsd
            architecture: x86-64
            version: "7.8"

    steps:
      - uses: actions/checkout@v6

      - name: Test on ${{ matrix.os.name }}
        uses: cross-platform-actions/action@v0.30.0
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          shell: bash
          memory: 8G
          cpu_count: 4
          run: |
            sudo pkg_add go tor gmake git
            git config --global --add safe.directory /home/runner/work/tornago/tornago
            go version
            tor --version
            go mod download
            gmake integration-test
        env:
          TORNAGO_INTEGRATION: "1"
